<app-home></app-home>
<div class="container">
    <div class="row ">
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                        <i class="fa fa-th-list"> </i>
                </div>
                <div class="card-body">
                    {{pID}}
                </div>
                <div class="card-footer text-muted">
                    MARKS: 
                </div>
            </div>
        </div>
        <div class="col-3">
            <app-detail></app-detail>
        </div>
    </div>
</div>